*.sh text eol=lf
assets/branding/manifest.json text eol=lf
src/Unlimotion.iOS/Assets.xcassets/**/Contents.json text eol=lf
src/Unlimotion.iOS/Assets.xcassets/Contents.json text eol=lf
src/Unlimotion.Android/Resources/mipmap-anydpi-v26/ic_launcher.xml text eol=lf
