[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Unlimotion
Comment=This is application Unlimotion
Icon=unlimotion
Exec=/usr/bin/Unlimotion %u
Terminal=false
Categories=Tags;Describing;Application
MimeType=x-scheme-handler/unlimotion;
