[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Unlimotion
Comment=This is application Unlimotion
Icon=unlimotion
Exec=/usr/local/bin/Unlimotion.Desktop
Terminal=false
Categories=Tags;Describing;Application
